.titlePage {
  background-image: url('../Images/nature.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px auto 150px;
  background-blend-mode: darken;
  background-color: rgb(106, 106, 106, 0.4);
}

.startButton {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255, 0.7);
  justify-self: center;
  font-size: 1.3em;
}

.buttonLink {
  grid-row: 3;
  margin-bottom: 50px;
}

.title {
  grid-row: 2;
  font-size: 3em;
  line-height: 1.8em;
  margin: 0;
  padding: 10%;
  color: white;
}

@media screen and (min-width: 370px) {
  .title {
    padding: 15%;
    font-size: 3.2em;
  }
}
