.welcomePage {
  background-image: url('../Images/cheers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-rows: 100px 80px auto 150px;
}

.welcomeParticipant,
.yourChallenge {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.welcomeParticipant {
  font-size: 2em;
  grid-row: 1;
}

.yourChallenge {
  font-size: 1.4em;
  grid-row: 2;
}

.expandRules,
.expandIdeas,
.startChallenge,
.backToChallenge {
  width: 120px;
  height: 50px;
  margin: 10px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255, 0.8);
  justify-self: center;
  font-size: 1.3em;
  font-family: 'Quicksand', sans-serif;
}

.buttonSection {
  grid-row: 3;
  align-self: start;
}

.startChallenge {
  width: 160px;
  grid-row: 4;
}

.rulesExpanded,
.ideasExpanded {
  visibility: hidden;
  background-color: rgb(218, 165, 32);
  opacity: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  transition-duration: 1s;
}

.rulesExpanded.show,
.ideasExpanded.show {
  visibility: visible;
  transition-property: transform, opacity;
  opacity: 1;
  will-change: opacity;
  transition-duration: 1s;
  transition-delay: 0.3s;
}

.rulesTitle,
.ideasTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7em;
  transform: translate3d(100%, 0, 0);
  transition: all 1s ease-out;
}

.rulesTitle.show,
.ideasTitle.show {
  transform: translate3d(0, 0, 0);
}

.gameRules,
.ideasList {
  font-size: 1.3em;
  font-family: 'Quicksand', sans-serif;
  padding: 30px;
  transform: translate3d(-100%, 0, 0);
  transition: all 1s ease-out;
}

.gameRules.show,
.ideasList.show {
  transform: translate3d(0, 0, 0);
}
